{% extends 'email_sender/layout.html' %}

{% block content %}
    <h3 class="center-align">{{title}}</h3>
    <form method="POST" action="/" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <div class="wrapper">
            <button class="btn waves-effect waves-light button send" type="submit">Send</button><br>
        </div>
    </form>
    <br>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}